/*************************************************
Docking
*************************************************/
/* Dock panel */
body.has_dock div#dock {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.15) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.15) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=1 ); /* IE6-9 */
}
#dock .dockeditem_container {
	margin-top: 0;
}
body.has_dock {
	margin-left: 44px;
    margin-bottom: 0;
}
body.has_dock footer {
	position: relative;
}
body.has_dock #page {
	padding-left: 20px;
}
#dock {
	width: 45px;
	top: 0 !important;
}
.has_dock header {
	padding-left: 0;
}
#dock .controls {
	bottom: 10px !important;
}
#dock .dockedtitle, 
#dock .dockedtitle:hover,
#dock .dockedtitle:focus {
    background: [[setting:blockheaderbgcolor]] !important;
}
#dock .dockedtitle h2 {
	color: #fff;
    font-family: Arial, sans-serif, Helvetica;
    font-size: 85% !important;
    white-space: nowrap;
}
/* Docked */
#dockeditempanel {
	z-index: 2;
}
#dockeditempanel .dockeditempanel_hd {
 background: [[setting:headerbgcolor]];
	border-radius: 4px 4px 0 0;
	padding: 0.5em;
}
#dockeditempanel .dockeditempanel_hd .commands {
	float: right;
	margin-top: -20px;
}
#dockeditempanel .dockeditempanel_hd h2 {
	color: #fff;
	text-transform: none;
}
#dockeditempanel .dockeditempanel_content {
	width: auto;
	min-width: 250px;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
#dockeditempanel .dockeditempanel_bd > * {
	margin: 0;
}