/********************************
Tiles
********************************/
.ie8 .tileoutlinearea {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[[pix:theme|course_bg]]',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[[pix:theme|course_bg]]',sizingMethod='scale')";
}
.ie8 .tileoutlinearea .tileoutlinecontent,
.ie8 .tileoutlinetiles .tiletitle {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CC000000', endColorstr='#CC000000');
}
.ie8 .tileoutlinetiles .currentsection a, .ie8 .tileoutlinepage .current {
    margin: -2px 0;
}
