/*************************************************
General Styles
*************************************************/
html {
	background: none;
}
* {
    font-family: "Arial",Helvetica Neue,Helvetica,sans-serif;
    text-shadow: none !important;
}
body {
    background-color: [[setting:backgroundcolor]];
    padding-top: 0;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
    color: #222;
}
a, a:link {
    color: [[setting:linkcolor]];
}
a:hover, a:active {
    text-decoration: underline;
}
a:visited {
    color: [[setting:linkvisitedcolor]];
}
header {
    border-bottom: 1px solid [[setting:backgroundcolor]];
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
}
h1 {font-size: 180%;}
h2 {font-size: 160%;}
h3 {font-size: 140%;}
h4 {font-size: 120%;}
h5 {font-size: 100%;}
h6 {font-size: 90%;}
li {
    line-height: 1.5em;
}
hr {
    border: none;
    height: 1px;
    background: [[setting:backgroundcolor] 20%];
}
input {
    margin: 0 !important;
}
select {
    /*width: 95%;*/
    width: auto;
}
::selection {/* WebKit/Blink Browsers */
  background: #333; 
  color: #fff;
}
::-moz-selection {/* Gecko Browsers */
  background: #333; 
  color: #fff;
}
.dimmed {
    opacity: 0.6;
}
.generaltable tr,
.generaltable td,
.generaltable th {
    border: 1px solid #ddd;
}

/* Layout */
#page {
    margin: 0 auto;
    padding: 5px;
}
.container-fluid {
    max-width: auto;
    padding: 0;
}
section {
    margin: 0;
}
#block-region-side-pre, 
#block-region-side-post {
    padding: 10px;
}
#region-main {
    padding: 10px;
    margin-bottom: 15px;
}
#page-content {
    background: #ffffff;
}

/* Sticky Footer */
html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 3em;
}
footer {
    height: auto;
    position: absolute;
    bottom: 0;
}

/*************************************************
Header
*************************************************/
#page-header { 
    color: [[setting:blockheadertextcolor]];
    padding: 0;
    background: [[setting:headerbgcolor]];
    position: relative;
}
#page-header {
    margin: 0;
}
#page-header-wrapper {
    display: table;
    width: 100%;
}
.bannertext p {
	font-size: 1.8em;
	color: #fff;
}
.logo, .logounit, .bannertext {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}
.logounit, .bannertext {
    text-align: right;
}

/*************************************************
Buttons and Forms
*************************************************/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
button, input.submit, input[type="submit"], input[type="reset"], input[type="button"], #id_buttonfield, a.link-as-button, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], .btn-primary {
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    background-color: [[setting:buttoncolor]];
    background-image: none;
    margin: 5px !important;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
}
/*hover*/
button:hover, input.submit:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, #id_buttonfield:hover, a.link-as-button:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, .btn-primary:hover,
/*focus*/
button:focus, input.submit:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus, #id_buttonfield:focus, a.link-as-button:focus, input#id_submitbutton:focus, input#id_submitbutton2:focus, .path-admin .buttons input[type="submit"]:focus, .btn-primary:focus {
    color: #fff;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    background-color: [[setting:buttoncolor]];
    text-decoration: none;
    outline:0;
}
p.arrow_button input {
    display: inline-block;
}
.mform .fitem .feditor {
    margin: -3px !important;
}
.togglecompletion input {
    width: auto; /*fix for IE*/
    background: none;
    border: none !important;
    padding: 0;
}
.mform .fitem div.fitemtitle {
    text-align:left;
    font-weight:bold;
}
.mform .fitem .felement {
    width: 72%;
    float: right;
    margin-left: 0;
}
.mform fieldset.collapsible legend a.fheader {
    margin-left: 0;
    font-size: inherit;
    color: #666;
}


/*************************************************
Breadcrumb, Navbar
*************************************************/
#page-navbar-wrapper {
    width: 100%;
    background: [[setting:pagenavbgcolor]];
}    
#page-navbar {
    display: block;
    margin: 0 auto;
}
#page-navbar .breadcrumb-button label {
    color: white;
    font-size: .8em;
}
#page-navbar a.dimmed, 
#page-navbar a.dimmed:link, 
#page-navbar a.dimmed:visited, 
#page-navbar a.dimmed_text, 
#page-navbar a.dimmed_text:link, 
#page-navbar a.dimmed_text:visited, 
#page-navbar .dimmed_text, 
#page-navbar .dimmed_text a, 
#page-navbar .dimmed_text a:link, 
#page-navbar .dimmed_text a:visited {
    opacity: 0.5;
}
.breadcrumb {
    background: none;
    color: [[setting:pagenavtextcolor]];
    margin: 0;
}
.breadcrumb li a,
.breadcrumb li span {
    padding: 0 5px 0 9px;
}
.breadcrumb > li > .divider {
    font-size: 0.8em;
    color: [[setting:pagenavtextcolor]];
}
.breadcrumb li:first-child {
    background: url([[pix:theme|ic_home]]) no-repeat left;
    padding-left: 16px;
    padding-top: 2px;
}
.breadcrumb-button {
    margin-right: 10px;
    margin-top: 0;
}
.breadcrumb-button .singlebutton {
    float: left;
}
.breadcrumb-button .singlebutton div {
    margin: 0;
}
.breadcrumb-nav {
    margin-bottom: 0;
    margin-top: 2px;
}
.breadcrumb-nav .breadcrumb {
    padding: 7px;
}
/* customise breadcrumb trail divider */
ul.breadcrumb li:after { 
    content: "/"; 
}
ul.breadcrumb li:last-child:after { 
    content: " "; 
}
.breadcrumb > li > .divider {
    display: none;
}
input#navsearchbox, #page-navbar input[type="submit"] {
    margin-bottom: 0;
}
input#navsearchbox {
    padding: 0 6px;
}

/*************************************************
Blocks
*************************************************/
.block {
    padding: 0;
    /*margin: 15px 15px 0 15px;*/
    -webkit-box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.05);
    background: [[setting:blockbgcolor]];
    clear: both;
}
.block .content {
    background: [[setting:blockbgcolor]];
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding: 12px;
}
.block .header .title h2, .block h3.main {
    text-transform: none;
    text-shadow: none;
    padding: 7px 10px;
    text-align: left;
    color: [[setting:blockheadertextcolor]];
    font-size: 100%;
}
.block .header .title .commands, .block_adminblock .content, .block .footer {
    padding: 0;
    background: none !important;
}
#region-pre .skip-block-to {
    height: 0px;
}
.block .header, .block.hidden .header {
    border-bottom: 0;
    background-color: [[setting:blockheaderbgcolor]];
    clear: both;
}
.block .header h2 {
    font-size: 1.1em;
    color: [[setting:blockheadertextcolor]];
}
.block .header .block_action {
    width: auto;
    padding: 4px;
}
.block .header .block_action > * {
    padding: 4px 4px 4px 0;
    margin-left: 0;
}
.block .content .info,
.block_recent_activity .activitydate, 
.block_recent_activity .activityhead {
    text-align: left;
}
.block.invisible {
    opacity: 0.5;
}
.block .block-hider-show, .block .block-hider-hide {
    padding: 5px;
}
/* Tools */
.moodle-actionmenu ul {
    background: rgba(255, 255, 255, 0.95);
}
.moodle-actionmenu.show[data-enhanced] .menu {
    z-index: auto;
}

/* Block - Navigation */
.block_navigation .content {
    background: #f5f5f5;
}
/* Block - Settings or Administration */
.block_settings .content {
    background: #f5f5f5;
}
.block_settings .footer {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}
.block_settings .footer input#adminsearchquery {
    width: 100%;
    /*max-width: 128px;*/
    max-width: 64%;
}

/* Block - Main Menu */
.block_site_main_menu .footer {
    margin-top: 0;
}

/* Block - News */
.block_news_items .content ul li {
    border: none;
    border-bottom: 1px solid #ddd;
}

/* Block - Login */
.block_login .content {
    max-width: 100% !important;
}
.block_login input#login_username, 
.block_login input#login_password {
    width: 90%;
}
#notice {
    width: auto;
}

/* Block - My Courses */
.mycourses.block .content .header{
    border-radius: 0;
    color: #333;
    background: #eee;
}

/* Block - Calendar */
table.minicalendar td {
    border-radius: 0;
}
.block .minicalendar {
    max-width: 100%;
    border-spacing: 0;
}
.block .minicalendar .weekdays {
    background: #ddd;
}
.block_calendar_month.block .content {
    padding: 2%;
}
.block_calendar_month.block .minicalendar td.today, 
.block .minicalendar td.today {
    background:[[setting:buttoncolor]];
}
.block_calendar_month.block .minicalendar td.today a, 
.block .minicalendar td.today a {
    color: #fff;
}
.block .minicalendar td.today .eventcontent a {
    color: [[setting:linkcolor]];
    padding: 0 5px;
}
.block_calendar_month.block .minicalendar td.today .calendar-event-panel {
    color: #333;
}
.block .minicalendar td.weekend {
    color: #aa0000;
}
.block .minicalendar th, .block .minicalendar td {
    border: 1px solid #eee;
    padding: 0;
}
.block .calendar-controls .current {
    padding-bottom: 5px;
}
.block .minicalendar td.day {
    padding: 1px;
}
.calendar-event-panel .eventcontent {
    text-align: left;
    margin: 5px 10px;
}
.arrow {
    font-family: Arial, Helvetica, Sans-serif !important;
}
a.ical-link {
    color: #fff;
}

/* Block - Course Progress */
#course_progress td {
    vertical-align: middle;
}

/* Block - Book */
.book_content {
    padding: 10px;
    border: 1px solid #ddd;
}
.path-mod-book .navtop {
    margin: 0;
}
.path-mod-book .navtop img.icon, 
.path-mod-book .navbottom img.icon {
    width: auto;
    height: auto;
}
.path-mod-book .navbottom, .path-mod-book .navtop {
    padding: 10px 0;
}
.path-mod-book .block_book_toc .clearfix:before,
.path-mod-book .block_book_toc .clearfix:after {
    display: inline;
}

/* Block - Logged-in Users */
.block_myprofile.block {
    text-align: center;
}
.block_myprofile.block .content {
    padding: 10px;
}

/* Block - Poll */
.block_poll.block input {
    float: left;
    margin-right: 10px !important;
}
.block_poll.block label {
    display: table;
}

/*************************************************
Courses
*************************************************/
/* Course box */
.coursebox {
    padding: 7px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.coursebox > .info > .name a {
    padding-left:40px;
    display: table;
    width: 100%;
}
.coursebox > .info > .coursename {
    display: inline;
    float: left;
}
.coursebox > .info > .coursename a {
    display: inline;
    padding: 8px 20px 8px 40px;
    width: 100%;
    background-position: left center;
}
.coursebox .moreinfo {
    float: right;
}
.coursebox .content .summary {
    width: auto;
    float: none;
}

/* Course Content */
.course-content .left, 
.course-content .right {
    width: auto !important;
    padding: 15px 7px !important;
}
.course-content ul.topics li.section .content, 
.course-content ul.weeks li.section .content {
    margin: 0;
}
.course-content ul li.section.main {
    background: #F6F6F6;
    margin-bottom: 10px; 
    padding: 10px;
    border: none;
}
.course-content .section-summary .summarytext {
    margin: 2px 15px;
}
.topics .current {
    border: 1px solid [[setting:buttoncolor]] !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mod-indent-1 {
    width: auto;
}
.onetopic font.marker {
    font-style: normal;
}
#page-mod-feedback-show_entries .continuebutton {
    text-align: left;
    margin-top: 20px;
}
div.feedback_item_box_left,
div.feedback_item_box_right {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 10px;
}

/* Course content - Single section*/
.course-content .single-section .section-navigation {
    margin-bottom: 0;
}
.course-content .single-section .section-navigation .title {
    clear: none;
}
.course-content .single-section .mod-indent-2 {
    margin-left: 0;
}

/* Course category */
.course_category_tree .category > .info {
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 0;
    margin-bottom: 5px;
    box-shadow: none;
}
#page-course-index-category .singleselect {
    width: 100%;
}

/* Course manage */
#page-admin-course-manage h2.main {
    display: table;
    clear: both;
    padding-top: 10px;
}

/* Course management */
#page-course-management .row-fluid .span4 {
    width: 30%;
}
#page-course-management #course-category-listings .item-actions {
    display: inherit;
}
#page-course-management #course-category-listings .detail-pair .pair-key {
    width: auto;
}
.jsenabled #course-category-listings #course-listing .listitem .drag-handle {
    cursor: inherit;
    margin-top: 8px;
}

/* Demo format */
.demosections #section-0 .sectionname {
    font-size: 140%;
}
.course-content ul.demosections li.section .content {
    margin: 0 auto;
    background: transparent;
}

/*************************************************
Edit Course
*************************************************/
.section .activity .editing_move {
    float: left;
    position: relative;
}
.section .activity.modtype_label .commands {
    margin-left: 0;
}
#page-course-view-topics .section .label .contentwithoutlink, 
#page-course-view-topics .section .label .activityinstance {
    display: table;
    padding: 0;
}
.editing .section .activity .contentwithoutlink, 
.editing .section .activity .activityinstance {
    width: auto;
}
.editing .section .activity .activityinstance {
    min-width: 0 !important;
    padding-right: 10px;
}
.section .activity .availabilityinfo, 
.section .activity .contentafterlink {
    margin-left: 0;
}
.section .label .mod-indent-outer {
    display: table;
}

/*************************************************
Manage Course
*************************************************/
table#form td.submit, .form-buttons, .path-admin .buttons, #fitem_id_submitbutton, .fp-content-center form + div, div.backup-section + form, #fgroup_id_buttonar {
    padding: 0;
    margin: 10px 0 0;
    background: none;
    border: none;
}
table.flexible, .generaltable {
    width: 100% !important;
}

/********************************
Grade Outcomes
********************************/
#page-grade-edit-outcome-course p.arrow_button {
    margin: 0;
}
#page-course-edit form fieldset.multiselect span {
    display: block;
    height: 1em;
}

/********************************
Add activity page
********************************/
#fitem_id_showdescription .fitemtitle label {
    display: inline;
}

/********************************
Completion Status
********************************/
#page-blocks-completionstatus-details .generalbox.boxaligncenter b {
    padding-right: 10px;
}

/*************************************************
Footer
*************************************************/
footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#page-footer {
    border-top: 1px solid #d3d4d6;
    padding: 1.5em 15px;
    background: #333;
    color: #fff;
    margin: 0;
    font-size: 0.9em;
    box-sizing: border-box;
}
#page-footer p {
    display: inline-block;
    margin: 0;
    color: #fff;
}
#page-footer a:hover, #page-footer a:active {
    text-decoration: underline;
}
#page-footer #footnotewrapper {
    text-align: left;
}
#page-footer .footnote, #page-footer .footer-text {
    display: inline;
}
#page-footer .footer-text {
    float: left;
}
#page-footer .links {
    float: right;
}
#page-footer .helplink {
    float: right;
}

/*************************************************
Homepage
*************************************************/
#page-site-index #frontpage-course-list,
#page-site-index #frontpage-category-names,
#page-site-index #site-news-forum {
    margin-bottom: 1.5em;
}
#page-site-index .course_category_tree.frontpage-category-names .category > .info {
    border-top: 1px solid #ccc;
}
#page-site-index #coursesearch {
    background: #f6f6f6;
    padding: 0.5em;
    border-top: 1px solid #ddd;
}
#page-site-index #page-navbar {
    display: block;
}
#page-site-index .subscribelink {
    text-align: left;
}

/*************************************************
My Page
*************************************************/
#page-my-index #custom-homepage-regions {
    display: none;
}
#page-my-index #region-main .block_course_overview .coursebox {
    border: none;
    box-shadow: none;
    padding: 1px;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}
#page-my-index #region-main .block_course_overview .coursebox:last-child {
    border: none;
}

.block_course_overview .content h2.title {
    font-size: 1.3em;
}
.collapsibleregioncaption {
    background: #f4f4f4;
}
.mod-indent-outer, .contentwithoutlink {
    padding: 0 !important;
}
.form-item .form-label {
    text-align: left;
}
.form-item .form-label, .mform .fitem div.fitemtitle {
    padding: 5px;
}
.userprofile dl.list dt, 
.form-horizontal .control-label {
    width: auto;
    max-width: 215px;
}
input.fp-btn-choose {
    display: block;
    clear: both;
}

/*************************************************
Forum
*************************************************/
.forumpost {
    padding: 10px;
}
.forumpost .header {
    background: #fff;
}
.forumpost .picture img.userpicture {
    border-radius: 50%;
}
.forumpost .row .left {
    width: auto;
}
.forumcontent img,
.cataloguecontent img {
    float: left;
    padding-right: 2%;
}

/*************************************************
Androgogic Catalogue
*************************************************/
#page-blocks-androgogic_catalogue-index #page-content h3 {
    font-weight: bold;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 5px;
}
#page-blocks-androgogic_catalogue-index .visibleifjs {
    display: inline-block;
}
#page-blocks-androgogic_catalogue-index #page-content .cataloguecontent ul {
    margin-left: 0;
}
#page-blocks-androgogic_catalogue-index #page-content .cataloguecontent li {
    list-style: disc inside none;
}

/*************************************************
YUI
*************************************************/
.file-picker .fp-repo-area {
    font-size: 1.2em;
}
.yui3-skin-sam .yui3-panel .yui3-widget-hd .yui3-widget-buttons {
    padding: 0 8px 0 0;
}
.ui-dialog .ui-dialog-title {
    margin: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
    top: 8px;
}
.ui-datepicker-trigger {
    padding-left: 10px;
}
/* Fix for File picker when zooming out */
.dir-rtl .file-picker .fp-repo-items {
    float: left;
}
.file-picker .fp-repo-items {
    width: 79%;
}
.singlebutton div {
    margin: 5px 0;
}
.ui-widget-overlay {
    z-index: auto;
}

/*************************************************
QUIZ
*************************************************/
/*Editing Quiz*/
#categoryquestions .header a {
    color: #fff;
}
#page-mod-quiz-edit div.quizcontents {
    width: 75%;
}
.questionbankwindow.block {
    width: 25%;
}
#page-mod-quiz-edit .questionbankwindow div.header {
    margin: 0;
}
#page-mod-quiz-edit div.quizpage .pagecontent {
    width: 97%;
}
#page-mod-quiz-edit .addpage {
    margin: 0;
    float: left;
}
#page-mod-quiz-edit div.editq div.question div.content {
    width: 93%;
    padding-bottom: 1em;
}
#page-mod-quiz-edit div.quizpage .pagecontent {
    background: #efefef;
}
#page-mod-quiz-edit div.question div.content div.points input.pointssubmitbutton {
    padding: 1px 8px;
}

/*Order and paging*/
.addnewpagesafterselected {
    float: left !important;
}
#page-mod-quiz-edit .reorder div.question div.content {
    width: 94%;
}
#page-mod-quiz-edit .reorder .questioncontentcontainer,
#page-mod-quiz-edit div.question div.content div.questioncontrols,
#page-mod-quiz-edit div.question div.content div.qorder {
    background: #fff;
}

/*Attempts and report*/
#page-mod-quiz-attempt input[type="radio"] + label, #page-mod-quiz-attempt input[type="checkbox"] + label {
    display: inline-block;
    padding-left: 0.5em;
}
#page-mod-choice-report.path-mod-choice .anonymous, #page-mod-choice-report.path-mod-choice .names {
    width: 100%;
}

/*************************************************
Enroll Users
*************************************************/
#page-enrol-users .enrol_user_buttons {
    float: none;
    padding: 10px 0 20px 0;
}
#page-enrol-users .enrol_user_buttons .enrolusersbutton {
    margin-left: 0;
}
#page-enrol-users #filterform {
    display: block;
}
#page-enrol-users #filterform div, #page-enrol-users #filterform fieldset {
    border: none;
}

/*************************************************
Theme Profile
*************************************************/
#page-admin-theme-index .selectedtheme {
    outline: 3px solid #66cc66;
}
#page-admin-theme-index #region-main img {
    width: 100%;
    max-width: 500px;
    border: 1px solid #ddd;
}
#page-admin-theme-index .generalbox {
    border: 0 none;
    background: none;
}
#page-admin-setting-themesettings table.flexible, .generaltable {
    width: auto;
}
#admin-customcss textarea {
    width: auto !important;
    height: 20em !important;
}
.theme_screenshot {
    float: left;
    width: 300px;
    padding-right: 20px;
}
.theme_screenshot img {
    border: 1px solid #ccc;
}
.theme_screenshot h3 {
    margin: 1em 0 0;
}
.theme_screenshot p {
    font-size: 0.9em;
    margin: 0 0 1em;
}
.theme_description {
    margin-left: auto;
    margin-top: 32px;
}
.theme_description h2 {
    padding-top: 0.5em;
}
#page-admin-setting-themesettingandrotheme input, 
#page-admin-setting-themesettingandrotheme textarea, 
#page-admin-setting-themesettingandrotheme .uneditable-input {
    width: auto;
}
#page-admin-setting-themesettingandrotheme .form-item .form-label {
    width: auto;
    max-width: 220px;
}
.form-item .form-setting, .form-item .form-description, .mform .fitem .felement, #page-mod-forum-search .c1, .mform .fdescription.required, .userprofile dl.list dd, .form-horizontal .controls {

}
#page-admin-setting-themesettingandrotheme .form-item .form-setting, #page-admin-setting-themesettingandrotheme .form-item .form-description {
    margin-left: 245px;
}

/*************************************************
User Profile
*************************************************/

#page-user-profile .profilepicture {
    float: left;
    margin-right: 20px;
}
#page-user-profile .descriptionbox {
    float: left;
    width: 85%;
}
#page-user-profile .descriptionbox dt {
    padding-right: 20px;
}
#page-user-profile .userprofile dl.list dd {
    display: block;
    margin: 0 20px 8px 0;
}
#page-user-profile .userprofile .description,
#page-user-profile .list {
    margin: 0;
}
/* Positions */
.form-item .form-description, .felement.fstatic {
    padding-top: 0;
}

/*************************************************
Maintenance page
*************************************************/
#page-admin-upgradesettings #page-header {
    margin: 0 0 15px 0;
    padding: 10px;
    background: #333;
}
#page-admin-upgradesettings #page-header h1 {
    font-weight: bold;
    font-size: 2em;
    color: #fff;
    position: relative;
}
#page-admin-upgradesettings footer {
    position: relative;
    margin-top: 15px;
    background: #333;
}

/*Language Customisation Admin*/
.path-admin-tool-customlang .mform.filterform .fitem .felement {
    margin-left: inherit;
}
.path-admin-tool-customlang #translator textarea {
    width: auto;
}

/*************************************************
GUI
*************************************************/
.moodle-dialogue-base .moodle-dialogue .form-horizontal .control-label {
    width: 245px;
    padding-right: 1em;
}

/*************************************************
Effects (CSS3)
*************************************************/
/*css3 transition effects for various moodle areas
/*top nav menu */
.navbar .nav > li > a:hover, div#totaramenu ul li a:hover {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

/********************************
Tag
********************************/
#big-tag-cloud-box {
    text-align: center;
    width: auto;
}
#big-tag-cloud-box li {
    line-height: 4em;
}
.tag_cloud li a {
    padding: 10px;
    background: #ddd;
}

/*************************************************
PLUGINS
*************************************************/
/* Sniffer */
.versionsniffer-warning {
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: -2%;
    max-width: 500px;
    box-sizing: border-box;
}
.versionsniffer-warningsign {
    background: url([[pix:theme|ic_warning]]) no-repeat top left;
    padding: 20px 35px 20px 20px;
    display: table-cell;
}
.versionsniffer-warningtext {
    display: table-cell;
    vertical-align: top;
}
.versionsniffer-warningtext,
.versionsniffer-warningtext ul {
    color: #c09853;
}

/* Text Editor */
table.mceLayout {
    width: 100% !important;
}

/* Student Retention Report */
#page-report-studentsatrisk-index .fitemtitle {
    padding: 0;
}
#page-report-studentsatrisk-index .fitem.femptylabel {
    display: none;
}
.qflabel {
    padding-left: 0.5em;
}
.mform label {
    /*padding-right: 0.5em;*/
    margin-bottom: 0;
}
#page-report-studentsatrisk-index #fitem_id_pagetype {
    float: left;
}
#page-report-studentsatrisk-index #fgroup_id_actionsgrp .felement.fgroup > input {
    margin: 0 -5px 0 11px !important;
}
#page-report-studentsatrisk-index .table_student,
#page-report-studentsatrisk-index .table_course {
    overflow: auto;
}
#page-report-studentsatrisk-index .pagination {
    text-align: center;
}
#page-report-studentsatrisk-index .pagination a {
    font-weight: bold;
    border: 1px solid #ddd;
    margin-right: 1em;
    text-decoration: none;
    padding: 0.5em 1em;
    background: #ddd;
    display: inline-block;
}
#page-report-studentsatrisk-index .pagination a:hover {
    background: #ccc;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
