/* Responsive */
.row-fluid .span8 {width: 77%;} /*Block - Main*/
#page-site-index.editing .row-fluid .span8 {width: 77%;}
.row-fluid .span4 {width: 23%;} /*Block - Pre*/
.row-fluid .span9 {width: 81.5%;} /*Block Pre + Main*/
.row-fluid .span3 {margin-left: 0; width:18.5%;} /*Block - Post*/

/* Popup */
.ui-dialog .row-fluid .span8 {width: 66%;} /*Block - Main*/
.ui-dialog .row-fluid .span4 {width: 31%;} /*Block - Main*/

.empty-region-side-post.used-region-side-pre #region-main.span8, 
.jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
    width: 77.5%;
}
.empty-region-side-post.used-region-side-pre #block-region-side-pre.span4, 
.jsenabled.docked-region-side-post.used-region-side-pre #block-region-side-pre.span4 {
    width: 22.5%;
}

/* Large desktop */
@media (min-width: 1200px) { }

@media (max-width: 979px) {
    [class*="span"], .row-fluid [class*="span"] {width: 100% !important;}
    body {padding: 0;}
    select {width: 100%;}
    #page {padding: 5px;}
    .navbar .nav.pull-right {
        padding: 0 1em;
        box-sizing: border-box;
    }
    .user-picture, .logininfo {
        padding: 0;
    }
    #block-region-side-pre, #block-region-side-post, #region-main, .block {padding: 0;}
    .loginfailures {margin-right: 52px;}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #page {padding: 10px;}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    body {
        margin-bottom: 0;
    }
    #page {
        padding: 10px;
    }
    .breadcrumb-nav .breadcrumb {
        float: none;
        padding: 5px;
    }
    .breadcrumb-nav, 
    .breadcrumb-button .singlebutton, 
    .breadcrumb-button,
    #page-navbar .singlebutton {
        float: none; 
        text-align: center;
    }
    .logo, .logounit {
        padding: 10px;
    }
    .logo img, .logounit img{
        max-width: 70%;
    }
    .block {
        margin-bottom: 10px;
    }
    #page-footer {
        position: relative;
    }
    #page-footer #footnotewrapper {
        text-align: center;
    }
    #page-footer .footer-text,
    #page-footer .links,
    #page-footer .helplink {
        float: none;
        text-align: center;
        display: block;
    }
    #page-footer p {
        display: inline;
    }
    /*Login page*/
    .loginpanel {
        max-width: 100%;
    }
    .loginbox {
        max-width: 100%;
    }
    .loginbox .loginform .form-input input {
        width: 100%;
        max-width: 600px;
    }
    .loginbox.twocolumns {
        padding: 3%;
    }
    .loginbox.twocolumns .loginpanel {
        margin-bottom: 2em;
    }
    /* Custom homepage */
    #custom-homepage-regions #region-two-cols-wrap .column,
    #custom-homepage-regions #region-three-cols-wrap .column {
        width: 100% !important;
    }
    #custom-homepage-regions #region-three-cols-wrap > .three-cols-header + .column,
    #custom-homepage-regions #region-three-cols-wrap > .three-cols-header + .column + .column {
        margin: 0 0 2% 0;
    }
    #region-two-cols-wrap {
        padding: 0;
    }
    #custom-homepage-regions .column .content a {
        padding: 10% 30%;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 

}

@media (min-width: 980px) {
    #dock {top: 40px;}
    #dock .controls {bottom: 50px;}
}
