#page-course-view-tiles #region-main {
    padding: 5px 0 5px 0;
    margin-bottom: 15px;
    display: table;
}
.tileoutlinearea, .tileoutlinearea p, .tileoutlinetiles {
    color: #fff;
    margin: 0;
}
.editing .tileoutlinearea, .editing .tileoutlinearea p, .editing .tileoutlinetiles {
    color: #000;
}
.path-course-view .completionprogress {
    float: none; 
}

/*************************************************
Topic 0
*************************************************/
.tileoutlinearea, .tileoutlinearea ul, .tileoutlinearea p, .tileoutlinearea h1, .tileoutlinearea h2, .tileoutlinearea h3 {
    color: #fff;
}
.tileoutlinearea {
    position: relative;
    border: none;
    min-height: 280px;
    background: url([[pix:theme|course_bg]]) center no-repeat;
    background-size: cover;
    color: #fff;
    padding: 0;
    margin: 5px 5px 10px 5px;
    
    border-radius: 0;
}
.tileoutlinearea h3.sectionname {
    font-size: 1.6em;
    line-height: 1.1em;
}
.tileoutlinearea .headingblock {
    display: none;
}
.tileoutlinearea .tileoutlinecontent {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    bottom: 0;
    padding: 5px 20px 5px 20px;
    position: absolute;
    width: 100%;
}
.tileoutlinearea .section li.activity, .course-content ul.section {
    margin: 0;
    padding: 0.2em;
}

/*************************************************
Tiles
*************************************************/
.tileoutlinetiles .tile a {
    padding: 0;
    width: 97%;
    min-height: 160px;
    position:relative;
    background-image: url([[pix:theme|tilebg_default]]); 
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0; 
    color: [[setting:blockheadertextcolor]]; 
    border: none;
    margin: 1%;
}
.tileoutlinetiles .tiletitle {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: left;
    background-color: rgba(0,0,0,0.8);
    background-image: url([[pix:theme|course_arrow]]);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 7px 50px 7px 13px;
}
.tileoutlinetiles .tile a:hover .tiletitle {
    background-color: rgba(0,0,0,0.9);
    background-image: url([[pix:theme|course_arrowon]]);
    text-decoration: underline;
}   
.tileoutlinetiles .tiletopic {
    display: none;
}
.tileoutlinetiles li.tile {
    max-width: 33.33%;
    width: 100%;
}
.tileoutlinetiles .currentsection a, .tileoutlinepage .current {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid [[setting:buttoncolor]] !important;
    border-radius: 0;
}

/*************************************************
Topics
*************************************************/
.tiletopicnav ul li {
    line-height: 3em; 
    margin-top: 0;
}
.tiletopicnav ul li a {
    background-color: #fff ; 
    color: [[setting:linkcolor]]; 
    border: 1px solid [[setting:buttoncolor]];
    -moz-border-radius: 0; 
    -webkit-border-radius: 0; 
    border-radius: 0; 
}
.tiletopicnav ul li a.current, 
.tiletopicnav ul li a:hover, 
.tiletopicnav ul li a:active {
    background-color: [[setting:buttoncolor]]; 
    color: #fff;
    border-radius: 0; 
}
.tiletopicnav .currentsection,
.tiletopicnav .currentsection:hover {
    border: 3px solid [[setting:buttoncolor]];
}

/*************************************************
Images
*************************************************/
/* for children themes - these images would be overwritten by image upload within the tile setting */
#tile1 a {background-image: url([[pix:theme|tilebg_1]]);}
#tile2 a {background-image: url([[pix:theme|tilebg_2]]);}
#tile3 a {background-image: url([[pix:theme|tilebg_3]]);}
#tile4 a {background-image: url([[pix:theme|tilebg_4]]);}
#tile5 a {background-image: url([[pix:theme|tilebg_5]]);}
#tile6 a {background-image: url([[pix:theme|tilebg_6]]);}
#tileall a {background-image: url([[pix:theme|tilebg_all]]);}

@media (max-width: 767px) { 
    .tileoutlinetiles li.tile {
        max-width: 50%;
    }
}
@media (max-width: 480px) { 
    .tileoutlinetiles li.tile {
        max-width: 100%;
    }
}