/*************************************************
TOTARA 
*************************************************/
/*My Learning*/

#dp-plans-description .dp-add-plan-link {
    float: none;
    text-align: left;
    width: auto;
    clear: both;
}
#dp-plans-description .instructional_text {
    width: auto;
}
/*My Bookings, My Team*/
#page-my-bookings .fitemtitle, 
#page-my-bookings .felement.fgroup,
#page-my-teammembers .fitemtitle, 
#page-my-teammembers .felement.fgroup {
    width: auto !important;
    margin-left: auto !important;
}
/*
#dp-plans-menu {
    width: 18%;
}
#dp-plan-content {
    width: 80%;
    border-left: 1px solid #ddd;
    padding-left: 1%;
}
*/
.block.block_fake h3 {
    color: #333 !important;
}

/* Required Learning */

#page-totara-program-required .programprogress, 
#page-totara-program-required .summary {
    display: table;
}

@media (max-width: 979px) {
    #dp-plans-menu {
        width: 100%;
    }
    #dp-plan-content {
        width: 100%;
        border: none;
    }
}


/*************************************************
Positions
*************************************************/
#treeview_currently_selected_span_position > label {
    display: inline;
    font-size: 1em;
}
div.totara-dialog td.select #search-tab  select {
    margin: 0 10px;
}
.totara-dialog #fitem_id_query, .totara-dialog #fitem_id_frameworkid, .totara-dialog #fitem_id_dialogsearchsubmitbutton {
    margin: 1%;
}


/* Vertical tab tree */
.verticaltabtree-wrapper {
    border-left: 1px solid #333;
}
.verticaltabtree {
    width: 202px;
}
.verticaltabtree .nav-tabs {
    border: none;
}
.verticaltabtree .nav-tabs > li > a, 
.verticaltabtree .nav-tabs > li > a:hover {
    border-radius: 0;
    border-bottom: 1px solid #333;
}
.verticaltabtree .nav-tabs > li {
    margin-bottom: 0;
}
.verticaltabtree .nav-tabs > li, .nav-pills > li {
    float: none;
}
.verticaltabtree .nav-tabs > .active > a, 
.verticaltabtree .nav-tabs > .active > a:hover, 
.verticaltabtree .nav-tabs > .active > a:focus,
.verticaltabtree .nav > li > a:hover, 
.verticaltabtree .nav > li > a:focus {
    border: 1px solid #333;
    border-right: none !important;
}
.verticaltabtree-content {
    border-left: none;
    border-top: 1px solid #333;
}

/*************************************************
Course Catalogue
*************************************************/
.felement.fgroup {
    margin: 0 !important;
}
.totaratable .toolbar-cell .fitem_fsubmit, .totaratable .toolbar-cell input {
    vertical-align: bottom;
}
#page-totara-coursecatalog-programs .rb-sidebar {
    margin: auto;
}
#page-totara-coursecatalog-courses .rb-sidebar {
    border: 1px solid #ccc;
    padding: 0.5em;
    margin: 0 10px 0 0;
}
#page-totara-coursecatalog-courses #catalogcourses {
    border-radius: 0;
}
#page-totara-coursecatalog-courses #region-main .mform:not(.unresponsive) .fitem .fitemtitle, #page-totara-coursecatalog-courses #region-main .mform:not(.unresponsive) .fitem .felement {
    width: auto;
    margin: 0;
}
#fitem_id_toolbarsearchtext, #fitem_id_toolbarsearchbutton, #fitem_id_cleartoolbarsearchtext {
    margin-right: 0;
}

/*************************************************
Blocks
*************************************************/
/* Block - Links */
.block_totara_quicklinks .content li,
.block_totara_quicklinks .content li:first-child {
    border: none;
} 
.block_totara_quicklinks .content li, .block_totara_quicklinks .content li.odd {
    background: none;
}

/* Block - Report Manager */
.block_totara_report_manager.block .content {
    font-size: 90% !important;
}

/********************************
Face 2 Face
********************************/
.block_totara_alerts.block .face2face span {
    width: 87%;
}
.block_totara_alerts.block .face2face .information {
    width: 3%;
}

/********************************
Hierarchy
********************************/
#page-admin-totara-hierarchy-framework-index strong {
    padding-right: 5px;
}