.container-fluid {
    max-width: 1280px; /*optimised for 1366px screen-res*/
}

/*******************
General
*******************/
* {
    font-family: "Lucida Sans Unicode","Lucida Grande","Trebuchet MS",arial,helvetica,sans-serif !important;
}
body {
    color: #4d4d4f;
    background: #f2f2f2;
    margin-bottom: 6em;
}
a, a:link, a:visited {
    color: #14315C;
}
.breadcrumb {
    color: #bbb;
}
.breadcrumb a {
    color: #4d4d4f;
}
#page-navbar .breadcrumb-button {
    margin-right: 0;
}
div, span, button, input {
    border-radius: 0 !important;
}

#page-content {
    background: none;
}

/********************************
Buttons, Tabs, Navs
********************************/
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border: none;
}
button, input input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .buttons > a {
    background-color: #ff0000;
    filter: none;
    color: #fff;
    border-radius: 4px !important;
}
button:hover, input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:focus, 
input.form-submit:focus, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, input[type="reset"]:focus, 
button:active, input.form-submit:active, input[type="button"]:hover, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, button.active, input.form-submit.active, input[type="button"].active, input[type="submit"].active, input[type="reset"].active, button.disabled, input.form-submit:hover, input.form-submit.disabled, input[type="button"].disabled, input[type="submit"].disabled, input[type="reset"].disabled, button[disabled], input.form-submit[disabled], input[type="button"][disabled], input[type="submit"][disabled], input[type="reset"][disabled], input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, .buttons > a:hover {
    background-color: #14315C;
    filter: none;
}
.navbar .nav.pull-right {
    margin-right: 0;
    padding: 0 10px;
    background: #none;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
    margin-left: 5px;
}
.nav-tabs > li > a  {
    background: #000;
    color: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
}
.nav-tabs > li > a:hover {
    background: #ff0000;
    border: 1px solid #ddd;
    border-bottom: none;
    text-decoration: none;
}
.mform fieldset.collapsible legend a.fheader {
    color: inherit;
}
/********************************
Navigations Top Menu
********************************/
.navbar-inner, .navbar-fixed-top .navbar-inner .container-fluid {
    background: #434343;
    filter: none;
}

.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
    box-shadow: none;
}
div#totaramenu ul li, div#custommenu ul li {
    font-weight: 500;
}
div#totaramenu ul li a, div#custommenu ul li a {
    border-color: #666;
    color: #fff;
    background: transparent;
    font-size: 1em;
}
div#totaramenu ul li a:hover, div#custommenu ul li a:hover {
    background: #1F529D;
    color: #fff;
    filter: none;
}
div#custommenu ul li.selected a, div#totaramenu ul li.selected a {
    background: #fff;
    color: #000;
    border-radius: 0;
}
div#totaramenu ul ul, div#custommenu ul ul {
    box-shadow: none;
}

/********************************
Header
********************************/
#page-header {
    background: #fff;
}
#page-navbar-wrapper {
    border-top: 1px solid #e4e3de;
    background: none;
}
.logininfo {
    padding-left: 0;
    color: #777;
}
.logininfo a {
    color: #fff;
}
.logininfo a:hover {
    text-decoration: underline;
}

/********************************
Blocks
********************************/
.block {
    box-shadow: none;
    border: none;
    background: #efefef;
    margin-bottom: 15px;
}
.block .header, .block-region .hidden .header {
    background: #A79587 !important;
}
.block .header .title h2, .block h3.main {
    color: #fff;
    font-weight: 100;
}
.block .content {
    background: #fff;
}
.block_settings hr {
    display: none;
}
.block .header .title .commands, 
.block_adminblock .content, 
.block .footer {
    background: rgba(255, 255, 255, 0.8);
}
.block_settings .footer input#adminsearchquery {
    width: 98px !important;
}

/* Forum */
.forumpost {
    background: #fff;
}
.forumpost .content .posting {
    overflow: hidden;
}

/* Courses View */
.coursebox,
.coursebox:hover {
    background: #fff !important;
}

/* Calendar */
.block .minicalendar td.today .eventcontent a {
    color: #14315C;
}
.path-calendar .maincalendar,
.path-calendar .maincalendar div.header {
    background: #fff;
}

/********************************
Topics Format
********************************/
.topics .current {
    border: 2px solid #14315c !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.course-content ul li.section.main {
    background: #fff;
}

/********************************
Tiles Format
********************************/
.tileoutlinearea .tileoutlinecontent {
    position: relative;
    width: 48%;
}
.tileoutlinearea a, .tileoutlinetiles .tile a {
    color: #fff;
    text-decoration: underline;
}
.tileoutlinearea a:hover {
    text-decoration: none;
}
.tileoutlinetiles .currentsection a, .tileoutlinepage .current {
    border: 3px solid #ff0000;
}

/* Topics view */
.tiletopicnav ul li a {
    color: #14315c;
    border: 1px solid #14315c;
    background: #fff;
}
.tiletopicnav ul li a:hover, .tiletopicnav ul li a:active {
    background-color: #ff0000; 
    color: #fff;
    border: 1px solid #ff0000;
}
.tiletopicnav ul li a.current {
    background: #14315c ;
    border: 1px solid #14315c ;
}
.tiletopicnav .currentsection {
    border: 3px solid #ff0000;
}

/********************************
Docking
********************************/
body.has_dock div#dock {
    background: #fff;
    border-right: 1px solid #ddd;
}
#dock .dockedtitle {
    width: 45px;
    margin: 0 0 1px 0 !important;
}
#dock .dockedtitle, 
#dock .dockedtitle:hover,
#dock .dockedtitle:focus {
    background: #ff0000 !important;
    border: none !important;
}
#dock .dockedtitle h2 {
    color: #fff;
}
#dockeditempanel .dockeditempanel_hd {
    background: #ddd;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #000;
}
#dockeditempanel .dockeditempanel_bd {
    background: #fff;
}

/********************************
Footer
********************************/
#page-footer {
    background: #000;
    color: #aaabab !important;
    border: none;
}
#page-footer p {
    color: #aaabab;
}
#page-footer a {
    color: #808181;
}
#page-footer .footer-logo {
    float: right;
    margin-top: -20px;
}
#page-footer .helplink {
    float: left;
    clear: left;
}

/********************************
Home page
********************************/
/* Custom homepage */
#custom-homepage-regions .hero-heading {
    display: none;
}
#custom-homepage-regions #region-hero-unit img,
#custom-homepage-regions img {
    border-radius: 0;
}
#custom-homepage-regions .column .content a {
    padding: 0;
}
#custom-homepage-regions .column img {
    max-width: 100%;
}

/********************************
Custom Login
********************************/
body#page-login-index {
    background: #fff url([[pix:theme|bg_login]]) no-repeat bottom right;
    background-size: cover;
}
#page-login-index .navbar-inner {
    display: none;
}
#page-login-index #page {
    margin: 3% auto !important;
}
#page-login-index #page-content {
    background: transparent;
}
#page-login-index .loginbox {
    border: none;
    background: rgba(255, 255, 255, 0.9);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e5ffffff', endColorstr='#e5ffffff'); /* IE8 */
    width: 100%;
    max-width: 90%;
    padding: 20px;
    margin: 0 auto;
    /* single column - disabled self rego */
    /*width: 40%;
    max-width: 475px;*/
}
.helptooltip {
    float: none;
    display: inline-block;
}
#page-login-index .loginbox .subcontent {
    padding: 0;
}
#page-login-index .loginpanel {
    max-width: 100%;
}
#page-login-index .loginbox .loginform .form-input { 
    width: auto;
    float: none;
    text-align: center;
    padding-bottom: 10px;
}
#page-login-index #page-navbar-wrapper {
    display: none;
}
#page-login-index #region-main {
    padding: 55px 10px;
}
#page-login-index .loginbox h2 {
    font-size: 2.5em;
    padding: 0;
    color: #ff0000;
    line-height: 1em;
    border: none;
}
#page-login-index .loginbox .loginform .form-input input {
    height: 3em;
    width: 100%;
    max-width: 80%;
    display: block;
}
#page-login-index #loginbtn {
    padding: 0.6em 5em;
}
.loginbox h2, .loginbox .subcontent {
    text-align: left;
}
#page-login-index #notice > p {
    color: #fff;
}
#page-login-index input[type="text"] {
    background: white url([[pix:theme|username]]) right no-repeat;
}
#page-login-index input[type="password"] {
    background: white url([[pix:theme|password]]) right no-repeat;
}

/********************************
Responsive
********************************/
@media (max-width: 767px) { 
    body {
        margin-bottom: 0;
    }
    #page-course-view-tiles #region-main {
        padding: 0 0 10px 0;
    }
    .logo, .logounit {
        display: block;
        text-align: center;
    }
    .logo {
        padding: 10px 0 0 0;
    }
    .logounit {
        padding: 0 0 15px 0;
    }
    #page-footer .year,
    #page-footer .footnote {
        float: none;
        text-align: center;
        padding: 0;
    }
    /*Login page*/
    #page-login-index #region-main {
        padding: 0;
    }
    #page-login-index .loginbox {
        width: 100%;
        float: none;
        border: 1px solid #ddd;
        padding: 0;
        max-width: 95%;
    }
    #page-login-index .loginbox .loginform .form-input input {
        width: 100%;
        max-width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1.5em;
    }
    .loginbox.twocolumns .signuppanel, .loginbox.twocolumns .loginpanel {
        padding: 3%;
    }
    .loginbox.twocolumns .loginpanel {
        border-bottom: 1px solid #ccc;
        margin-bottom: 0;
    }
    /* Tile */
    .tileoutlinearea .tileoutlinecontent {
        width: auto;
    }
    /* Custom homepage */
    #custom-homepage-regions #region-hero-unit {
        display: none;
        padding-bottom: 10px;
    }
    #custom-homepage-regions div.content p {
        padding-bottom: 0;
    }
    #custom-homepage-regions #region-two-cols-wrap .column {
        width: 100%;
    }
    /* Footer */
    #page-footer .footer-logo {
        float: none;
        text-align: center;
        margin-top: 10px;
    }
    #page-footer .footnote,
    #page-footer .helplink,
    #page-footer .footer-text {
        float: none;
    }
}

@media (max-width: 979px) { 
    body.has_dock {
        margin-left: 44px;
    }
    #block-region-side-pre, #block-region-side-post {
        padding: 0;
    }
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]